/* layer: default */
.absolute{position:absolute;}
.relative{position:relative;}
.top-_lfl_58_pes__lfr_{top:58%;}
.mr-12rpx{margin-right:12rpx;}
.mr-22rpx{margin-right:22rpx;}
.mt-26rpx{margin-top:26rpx;}
.box-border{box-sizing:border-box;}
.h-2rpx{height:2rpx;}
.h-40rpx{height:40rpx;}
.h-full{height:100%;}
.w-_lfl_calc_lbl_100_pes_-20rpx_lbr__lfr_{width:calc(100% - 20rpx);}
.w-full{width:100%;}
.flex{display:flex;}
.shrink-0{flex-shrink:0;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.-translate-x-1_sl_2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-1_sl_2{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.overflow-x-auto{overflow-x:auto;}
.rounded-10rpx{border-radius:10rpx;}
.rounded-18rpx{border-radius:18rpx;}
.rounded-4rpx{border-radius:4rpx;}
.bg-_lfl__wn_AC5A3E_lfr_{--un-bg-opacity:1;background-color:rgb(172 90 62 / var(--un-bg-opacity)) /* #AC5A3E */;}
.bg-_lfl__wn_E2DBC5_lfr_{--un-bg-opacity:1;background-color:rgb(226 219 197 / var(--un-bg-opacity)) /* #E2DBC5 */;}
.bg-_lfl__wn_e8ad82_lfr_{--un-bg-opacity:1;background-color:rgb(232 173 130 / var(--un-bg-opacity)) /* #e8ad82 */;}
.bg-_lfl__wn_f0ead8_lfr_{--un-bg-opacity:1;background-color:rgb(240 234 216 / var(--un-bg-opacity)) /* #f0ead8 */;}
.bg-_lfl__wn_fffbef_lfr_{--un-bg-opacity:1;background-color:rgb(255 251 239 / var(--un-bg-opacity)) /* #fffbef */;}
.px-20rpx{padding-left:20rpx;padding-right:20rpx;}
.px-32rpx{padding-left:32rpx;padding-right:32rpx;}
.py-8rpx{padding-top:8rpx;padding-bottom:8rpx;}
.pb-16rpx{padding-bottom:16rpx;}
.pb-28rpx{padding-bottom:28rpx;}
.text-center{text-align:center;}
.text-20rpx{font-size:20rpx;}
.text-24rpx{font-size:24rpx;}
.text-28rpx{font-size:28rpx;}
.text-_lfl__wn_333_lfr_{--un-text-opacity:1;color:rgb(51 51 51 / var(--un-text-opacity)) /* #333 */;}
.text-_lfl__wn_545454_lfr_{--un-text-opacity:1;color:rgb(84 84 84 / var(--un-text-opacity)) /* #545454 */;}
.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity)) /* #000 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.shadow-_lfl_0rpx_3rpx_7rpx_0_rgba_lbl_217_lco_190_lco_134_lco_0_dl_5_lbr__lfr_{--un-shadow:0rpx 3rpx 7rpx 0 var(--un-shadow-color, rgba(217, 190, 134, 0.5));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.w-71{width:71rpx;}
.w-80{width:80rpx;}
.h-50{height:50rpx;}
.px-16{padding-left:16rpx;padding-right:16rpx;}
.px-36{padding-left:36rpx;padding-right:36rpx;}
.pt-0{padding-top:0rpx;}
.first_cl_mt-0:first-child{margin-top:0rpx;}
.leading-40{line-height:40rpx;}
.top-4{top:4rpx;}
.right-16{right:16rpx;}
.right-8{right:8rpx;}
.bottom-16{bottom:16rpx;}
.z-1{z-index:1;}
.z-10{z-index:10;}